body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#game-container {
    display: flex;
    align-items: center;
    height: 90vh;
}

#game-canvas {
    border: 2px solid #000;
    background-color: #cfcfcf; /* Background for canvas to make it visually distinct */
    flex-grow: 1;
    max-width: 70vw; /* Adjust canvas to take up the majority of available space */
    max-height: 100%;
}

#sidebar {
    margin-left: 20px;
    width: 200px;
    background-color: #f0f0f0;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
}

.sidebar-item {
    padding: 10px;
    border: 2px solid #333;
    text-align: center;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.sidebar-item:hover {
    background-color: #e0e0e0; /* Subtle hover effect for sidebar items */
    border-color: #666;
}

.sidebar-item .label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.sidebar-item .value {
    font-size: 24px;
    color: #333;
}

#timer, #longest-game {
    font-weight: bold;
    font-size: 22px;
    color: #007bff; /* Highlighting the timer and longest game in blue */
}

#level-complete-message {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-family: 'Press Start 2P', cursive; /* Use a pixel font */
    border: 2px solid #fff;
    border-radius: 10px;
    display: none; /* Hidden by default */
}
